/* Variables */
$bodyBackground: #38352E;
$greyBackground: #43413D;
$greyTranslucent: rgba(67, 65, 61, 0.7);
$purpleTranslucent: rgba(202, 183, 225, 0.7);
$redTranslucent: rgba(234, 125, 125, 0.7);

$textNeutral: white;
$textBlack: black;
$textDarkGrey: #8C8473;
$textGrey: #D1CEC7;
$textAccent: #FFD500;
$linkNeutral: #CAB7E1;

$yellowAccent: #F0ECDB;
$yellowAccentDarker: #E1D9B7;